---
---

@import "{{ site.theme }}";
a {
  color: #6d6d6d;
}
a:hover {
  color: #d1989c;
}
#downloads, hr {
  display: none;
}

body, #container {
  background: none;
}

table, tr, td {
  border: 1px solid #e5e5e5;
}